<div class="container mt-4">
  <div class="row">
    <div class="col-sm">
      <h3 class="text-info">My Created Events:</h3>
      <% @created_events.each do |event| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= link_to event.title, event_path(event), class: "text-dark" %></div>
          </div>
          <div class="card-footer">
            <p class="card-text">Venue: <small class="text-info"><%= event.venue %></small></p>
            <p class="card-text">Date: <small class="text-info"><%= event.date %></small></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm mb-3">
      <h3 class="text-info">Upcoming Events:</h3>
      <% @upcoming_events.each do |event| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= link_to event.title, event_path(event), class: "text-dark" %></div>
          </div>
          <div class="card-footer">
            <p class="card-text">Venue: <small class="text-info"><%= event.venue %></small></p>
            <p class="card-text">Date: <small class="text-info"><%= event.date %></small></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-sm mb-3">
      <h3 class="text-info">Past Events:</h3>
      <% @previously_attended_events.each do |event| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= link_to event.title, event_path(event), class: "text-dark" %></div>
          </div>
          <div class="card-footer">
            <p class="card-text">Venue: <small class="text-info"><%= event.venue %></small></p>
            <p class="card-text">Date: <small class="text-info"><%= event.date %></small></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
