<h1> Created by: <%= @event.creator.name %> </h1>


  <h3>People Joining The Event</h3>
  <% @event.event_attendees.each do |attendee|%>
    <p><%= attendee.name %></p>
  <% end %>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
