<h1> Created by: <%= @event.creator.name %> </h1>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<% if current_user == @event.creator %>
   <%= link_to 'Edit', edit_event_path(@event) %> |
   <%= link_to 'Update', edit_event_path(@event) %> |
   <%= link_to 'Destroy', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %> |
   <%= link_to 'Back', events_path %>
  <% else %>
   <%= link_to 'Back', events_path %>
<% end %>
