<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title"><%= @event.title %></h2>
    </div>

    <div class="card-body">
      <p><%= @event.description %></p>
    </div>

    <div class="card-footer">
      <h5>Venue: <small class="text-info"><%= @event.venue %></small></h5>
      <h5>Date: <small class="text-info"><%= @event.date %></small></h5>
      <h5>Created by: <small class="text-info">@<%= @event.creator.name %></small></h5>

      <div class="control">
        <% if current_user == @event.creator %>
          <%= link_to 'Edit', edit_event_path(@event) %> |
          <%= link_to 'Update', edit_event_path(@event) %> |
          <%= link_to 'Destroy', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to 'Back', events_path %>
        <% else %>
          <%= link_to 'Back', events_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
