<nav class="navbar navbar-expand-md navbar-light bg-danger">
    <%= link_to root_path, class: "navbar-brand" do %>
    <h4 class="title text-light"><span class="events-logo">Private Events</span></h4>
    <% end%>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <% if user_signed_in?%>
       <div class="navbar-nav">
          <button class="btn btn-md text-light"><%= current_user.name %></button>
          <%= link_to "Create Event", new_event_path, class: "btn btn-md text-light", title: 'Click to New Event' %>
          <%= link_to "My Events", events_path, class: "btn btn-md text-light", title: 'Click to My Events' %>
          <%= link_to "Sign Out", sign_out_path, class: "btn btn-md text-light", title: 'Click to Sign Out' %>
       </div>
    <% else %> 
       <div class="navbar-nav">
          <%= link_to "Sign In", sign_in_path, class: "btn text-light btn-md mr-3 text-light", title: 'Sign In to your account' %>
          <%= link_to "Sign Up", sign_up_path, class: "btn text-light btn-md text-light", title: 'Create account' %>
       </div>
    <% end %>
 </div>

</nav>